:root {
    --primary-color: #3bb78f;
    /* --primary-color: #ff0000;  */
    --secondary-color: #0bab64;
    --primary-text-color: #fff;
    --secondary-text-color: #555;
    --colorBtnOff: #FF3333;
}