.device {
    background-color: #deebdd;
    background-image: linear-gradient(315deg, #deebdd 0%, #bbdbbe 74%);
    border-radius: 20px;
    padding: 24px;
    margin-top: 24px;
}

.boxGroupPower {
    background-color: var(--primary-color);
    background-image: linear-gradient(315deg, var(--primary-color) 0%, var(--secondary-color) 74%);
    display: block;
    height: 15vh;
    border-radius: 20px;
    margin-top: 24px;
    padding-top: 20px;
    padding-bottom: 20px;

}


.controlBarLabel, .selectCardFormLabel {
    color: var(--primary-text-color);
    font-weight: bold;
    font-size: 18px;
    padding-left: 10px;
}
 
.selectCardForm {
    height: 10vh;
    border-radius: 20px;
    position: relative;
    margin-bottom: 20px;
}
.controlBar {
    height: 10vh;
    border-radius: 20px;
    position: relative;
}

.btn-control, .btn-connect {
    color: var(--secondary-text-color);
    background:yellow;
    height: 40px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 4px;
    margin-bottom: 4px;
    margin-left: 8px;
    width: 150px;
}

.btn-off {
    color: var(--secondary-text-color);
    background: var(--colorBtnOff);
    height: 40px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 4px;
    margin-bottom: 4px;
    margin-left: 16px;
    width: 150px;
}



.btn-take {
    color: var(--secondary-text-color);
    background: #6699FF;
    height: 40px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 4px;
    margin-bottom: 4px;
    margin-left: 16px;
    width: 150px;

}

.custom-select {
    color: var(--secondary-text-color);
    font-weight: bold;
    border-radius: 10px;
    height: 40px;
    font-size: 18px;
    margin: 0px 8px;
}

from {
    position: absolute;
    top: 24%;
}

.main-leds {
    display: flex;
    font-size: 20px;
    padding-top: 10px;
    white-space: nowrap;
}

.main-portsLan {
    display: flex;
    font-size: 30px;
    white-space: nowrap;
}

.main-portLan {
    color: var(--primary-text-color);
    margin-left: 20px;
}

.roateIcon {
    color: var(--primary-text-color);
    font-size: 18px;
    font-weight: bold;
}

.iconModuleE1, .iconModuleCpu {
    color: var(--primary-text-color);
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding: 60px 0;
}

.boxNetwork {
    margin-top: 20px;
}

.device .col-12:nth-child(5){
    position: relative;
}

.boxLanPort {
    padding: 34px 0;
}

.lanPortIcon {
    font-size: 30px;
    font-weight: bold;
}

.subNameCpu {
    color: var(--primary-text-color);
    font-weight: bold;
    font-size: 18px;
    padding-top: 35px;
}


.sub-leds {
    display: flex;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    flex-direction: column;
}

.main-led {
   color: var(--primary-text-color);
   display: flex;
   flex-direction: column;
}

.main-led-tk {
    color: yellow;
    display: flex;
    flex-direction: column;
    
}

.main-led-active {
    color: green;
    display: flex;
    flex-direction: column;
}

.elementPowerLeds {
    margin-right: 12px;
    
}

.sub-led {
    color: var(--primary-text-color);
}

.sub-led-active {
    color: yellow;
}

.subName {
    color: var(--primary-text-color);
    font-weight: bold;
    font-size: 18px;
    padding-top: 115px;
}

.ledIndex, .power {
    color: var(--primary-text-color);
    font-size: 18px;
    font-weight: bold;
}

.ledIndexSync {
    color: var(--primary-text-color);
    font-size: 17px;
    font-weight: bold;
}

.main-ledStatus {
    margin-left: 10px;
    text-align: center;
}

.ledStatusPower {
    margin-left: 30px;
    text-align: center;
}

.timeSys {
    border: solid 5px var(--primary-text-color);
    border-radius: 20px;
    z-index: 10;
    height: 65%;
    width: 20%;
    position: absolute;
    bottom: 8%;
    right: 2%;
    text-align: center;
    padding-top: 5px;
}

.boxDeviceName {
    border: solid 5px var(--primary-text-color);
    border-radius: 20px;
    z-index: 10;
    height: 80%;
    width: 20%;
    position: absolute;
    top: 10%;
    left: 78%;
    text-align: center;
    padding-top: 10px;
}

.logoImg {
    position: absolute;
    top: 10%;
    left: 61.5%;
    width: 10%;
    height: auto;
}

.time {
    font-size: 32px;
    font-weight: bold;
    color: var(--primary-text-color);
}

.deviecName {
    font-size: 40px;
    font-weight: bold;
    color: var(--primary-text-color);
}

.Texttime {
    font-weight: bold;
    color: var(--primary-text-color);
}

.ledIndexCo {
    margin-left: 10px;
}

.containerCheckbox {
    color: var(--primary-text-color);
    font-weight: bold;
    font-size: 18px;
    margin-left: 8px;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: var(--primary-text-color);
    border-radius: 50%;
  }

.navTab {
    margin-top: 24px;
}

.context {
    display: block;
    color: var(--secondary-text-color);
    font-size: 18px;
    font-weight: bold;
    margin: 16px;
}

.tab {
    font-size: 18px;
    font-weight: bold;
}

.statusAll {
    font-size: 16px;
    color: var(--primary-text-color);
    font-weight: bold;
    display: flex;
    position: absolute;
    top: 25%;
    right: 2%;
}

.statusConnection, .versionFirmware{
    margin-right: 24px;
}

.hidden {
    display: none;
}

.nav-item-icon {
    font-size: 20px;
    font-weight: bold;
    margin-right: 24px;
}



.testtool .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: var(--primary-color);
    color: var(primary-text-color);
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
  }

.testtool:hover .tooltiptext {
    visibility: visible;
    
}
