{% include 'header.html' %}
<body>
    <div class="main-login">
        <form action="" method="POST" class="form" id="form-1">
            <h3 class="heading">Thay đổi mật khẩu tài khoản</h3>
            <h3 class="heading">Tổng đài TIP24</h3>
            <div class="spacer"></div>
            <div class="form-group">
                <label for="passwordOld" class="form-label">Mật khẩu cũ</label>
                <input id="passwordOld" name="password_old" type="password" placeholder="Nhập mật khẩu cũ"
                    class="form-control">
                <span class="form-message"></span>
            </div>
            <div class="form-group">
                <label for="passwordNew" class="form-label">Mật khẩu mới</label>
                <input id="passwordNew" name="password_new" type="password" placeholder="Nhập mật khẩu  mới"
                    class="form-control">
                <span class="form-message"></span>
            </div>
            <div class="form-group">
                <label for="RepasswordNew" class="form-label">Nhập lại mật khẩu mới</label>
                <input id="RepasswordNew" name="RepasswordNew" type="password" placeholder="Nhập mật khẩu  mới"
                    class="form-control">
                <span class="form-message"></span>
            </div>
            <p class = "submit-error">{{check}}</p>
            <button class="form-submit">Đổi mật khẩu</button>
        </form>
    </div>
</body>
<script>
    Validator({
        form: '#form-1',
        formGroup: '.form-group',
        errorSelector: '.form-message',
        rules: [Validator.isRequired('#passwordOld', 'Vui lòng nhập mật khẩu cũ'),
        Validator.isRequired('#passwordNew', 'Vui lòng nhập mật khẩu mới'),
        Validator.isRequired('#RepasswordNew', 'Vui lòng nhập mật khẩu mới'),
        Validator.compareTo('#passwordNew', '#RepasswordNew', 'Mật khẩu chưa khớp, vui lòng nhập lại')
        ],
        onSubmit: function (data) {
            console.log(data);

        },
    })

</script>

{% include 'footer.html' %}