<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('fontawesome-free-6.1.1-web', path='/css/all.css') }}">
    <link rel="stylesheet" href="{{ url_for('fontawesome-free-6.1.1-web', path='/js/all.js') }}">
    <link rel="stylesheet" href="{{ url_for('css', path='base.css') }}">
    <link rel="stylesheet" href="{{ url_for('css', path='loginForm.css') }}">
    <link rel="stylesheet" href="{{ url_for('css', path='bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('css', path='bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('css', path='style.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('img', path='logo.png') }}">
    <title>TIP24 - {{title|default("Page")}}</title>
</head>
