{% include 'header.html' %}
<!-- Thanh navbar -->
<!-- {% include 'navbar.html' %} -->
<body>
<div class="main-login">
  <form action="/login" method="POST" class="form" id="form-1">
    <h3 class="heading">Đăng nhập vào hệ thống</h3>
    <h3 class="heading">Tổng đài TIP24</h3>
    <div class="spacer"></div>
    <div class="form-group">
      <label for="fullname" class="form-label">Tên tài khoản người dùng</label>
      <input id="fullname" name="username" type="text" placeholder="VD:Tecacom" class="form-control">
      <span class="form-message"></span>
    </div>
    <div class="form-group">
      <label for="password" class="form-label">Mật khẩu</label>
      <input id="password" name="password" type="password" placeholder="Nhập mật khẩu" class="form-control">
      <span class="form-message"></span>
    </div>
    <p class = "submit-error">{{check}}</p>
    <button class="form-submit">Đăng nhập</button>
  </form>
</div>
</body>
{% include 'footer.html' %}