<nav class="navbar navbar-expand-lg navbar-dark bg-success">
    <div class="container-fluid">
        <a class="navbar-brand nav-item-icon" href="/dashboard"><i class="bi bi-grid-fill"></i> DashBoard</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li  class="nav-item nav-item-icon">
                    <a id="home" class="nav-link" aria-current="page" href="/dashboard">Home</a>
                </li>
                <li class="nav-item nav-item-icon">
                    <a class="nav-link testtool" href=""><i class="fa-solid fa-computer"></i><span class="tooltiptext">Chức năng...</span></a>
                    
                </li>
                <li class="nav-item nav-item-icon">
                    <a class="nav-link" href="#"><i class="fas fa-save"></i></a>
                </li>
                <li class="nav-item nav-item-icon">
                    <a class="nav-link" href="/admin"><i class="fa-solid fa-address-book"></i></a>
                </li>
                <li class="nav-item nav-item-icon">
                    <a class="nav-link" href="#"><i class="fa-solid fa-headset"></i></i></a>
                </li>
                <li class="nav-item nav-item-icon">
                    <a class="nav-link " href="#" ><i class="fa-solid fa-up-down-left-right"></i></a>
                </li>
                <li class="nav-item nav-item-icon">
                    <a class="nav-link " href="#" ><i class="fa-solid fa-coins"></i></i></a>
                </li>
                <li class="nav-item nav-item-icon">
                    <a class="nav-link " href="" >IPU</a>
                </li>
                <li class="nav-item nav-item-icon">
                    <a class="nav-link " href="/login" ><i id="login-btn" class="fa-solid fa-right-to-bracket"></i></a>
                </li>
                <li class="nav-item nav-item-icon">
                    <a class="nav-link " href="/logout" ><i id="login-btn" class="fa-solid fa-right-from-bracket"></i></a>
                </li>
                <li class="nav-item nav-item-icon">
                    <a class="nav-link " href="/change-password">Đổi mật khẩu</a>
                </li>
                <li class="nav-item nav-item-icon">
                    <a id="user" class="nav-link hidden" href="#" ><i class="fa-solid fa-id-badge"></i></a>
                </li>
            </ul>
            <div class="statusAll">
                <div class="statusConnection">Trạng thái kết nối: Chưa kết nối</div>
                <div class="versionFirmware">Firmware: 0.0</div>
                <div class="IPaddress">IP Address: None</div>
            </div>
        </div>
    </div>
</nav>